* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFDBDD;
}

.container {
    position: relative;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#votingButtons {
    padding: 20px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#voteUp {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 33px;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    margin-left: 32px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

#voteUp:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

#voteUp:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

#voteUp:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

#voteDown {
    background: #e62143;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
    font-size: 1em;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    padding: .8em 1em;
    text-align: center;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    text-underline-offset: 1px;
    transition: all .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
}

#voteDown:active,
#voteDown:focus {
    border-bottom-style: none;
    border-color: #dadada;
    box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
    outline: 0;
}

#voteDown:hover {
    border-bottom-style: none;
    border-color: #dadada;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #04444E;
}

#footer p {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: #FED86B;
}

#footer a {
    color: #FED86B;
}