{% extends "_base.html" %}
{% block title %}
	Votes
{% endblock %}
{% block content %}
    <div class="container">
        <img id= "catImage" src="{{ response['url'] }}" alt="Girl in a jacket" width="500" height="600">
        <form id="votingButtons">
            <button name="vote-down" id="voteDown" type="submit" formaction="{{ url_for('voting', value = 0, image_id = response['id'], sub_id = 'default') }}" formmethod="post">Dislike</button>
            <button name="vote-up" id="voteUp" type="submit" formaction="{{ url_for('voting', value = 1, image_id = response['id'], sub_id = 'default') }}" formmethod="post">Like</button>
        </form>
    </div>
{% endblock %}
